:root {
    --mdc-theme-primary: rgb(26, 115, 232);
    --mdc-theme-secondary: rgba(0, 0, 0, 0.04);
    /* --mdc-theme-success: #09af00; */
    /* --mdc-typography-body2-font-size: 13px; */
    /* --mdc-typography-body2-line-height: 1.5rem; */
    --icon-margin-horizontal: 5px;
  }
  body{
    font-family: Roboto, sans-serif;
    color: #485656;
    margin: 0;
  }
  a,
a:visited {
  color: inherit;
  text-decoration: none;
}
  .d-block {
    display: block;
  }
  
  .d-flex {
    display: flex;
  }
  
  .d-none {
    display: none;
  }
  
  .flex-align-center {
    align-items: center;
  }
  
  .flex-justify-center {
    justify-content: center;
  }
  .mdc-top-app-bar__row {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .mdc-top-app-bar__row .mdc-top-app-bar__section {
    padding-left: 0;
    padding-right: 0;
  }

  .logo-container {
    display: inline-flex;
    align-items: center;
    padding: 0;
  }

  .logo-container .logo {
    margin-right: 10px;
  }

  .app-bar-link {
    display: inline-flex;
    align-items: center;
    margin: 0 10px;
  }

  .app-bar-link .material-icons {
    margin-right: var(--icon-margin-horizontal);
  }

  .tabDetails .tabSingle{
      display: none;
      flex-direction: column;
      align-items: center;
  }

  .tabDetails .tabSingle.tabActive{
      display: flex;
  }

#statusContainer .btns {
  margin-top: 1rem;
}

#statusContainer.statusRunning .stopBtn,
#statusContainer:not(.statusRunning) .runBtn {
  display: block;
}

#statusContainer:not(.statusRunning) .stopBtn,
#statusContainer.statusRunning .runBtn {
  display: none;
}

#statusContainer .statusRow{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#statusContainer .statusRow .value {
  text-transform: capitalize;
  font-size: 1rem;
}

#progress{
  width:200px;
  height:200px;
  position: relative;
}

#statusContainer:not(.statusRunning) .completedVal,
#statusContainer:not(.statusRunning) .totalVal{
    display: none;
}

#progress .completedVal {
  font-size:2rem;
  border-bottom: 2px solid var(--mdc-theme-primary);
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -100%);
}

#progress .totalVal {
  font-size: 2rem;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, 0);
}

#progress .mdc-circular-progress {
  width: 100%;
  height: 100%;
  display: none;
}

#statusContainer.statusRunning .mdc-circular-progress {
  display: block;
}