# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# Directories
bin/
.terraform/

# Temp/env specific files
.DS_Store

# Frontend build artifacts
/web/dist
/web/node_modules
/cmd/ping/kodata
/web/.parcel-cache
