body, input {
  font-family: 'Roboto', sans-serif;
}
body,html{
  height:100%;
  font-size:16px;
  font-weight:300;
}
.title-link{
  text-decoration: none;
}
.title-link:hover{
  text-decoration: underline;
}
#stats{
  margin: 20px auto;
  width: 40%;
  max-width: 400px;
  border:1px solid #3f51b5;
  padding-bottom:10px;
}
#stats .heading{
  text-align: center;
  font-size:1.3rem;
  padding:10px 20px;
}
#stats .content{
  padding: 0 10px;
  background: #fff;
  color: #444;
}
#stats .content>div{
  display: flex;
  align-items: center;
  margin:5px 0;
}
#stats .content label{
  min-width:150px;
  display: flex;
  align-items: center;
}
#stats .content .material-icons{
  margin-right:5px;
}
#fastestRegion,#globalRegion,#analyzedRegions,#remainingRegions{
  font-weight: 400;
}
#runningCtrls{
  text-align:center;
}
#runningCtrls button:not(.visible){
  display: none;
}
#stopTest .material-icons,
#rerunTest .material-icons{
  transform: scale(.8);
}
.mdl-tabs__tab-bar{
  border-bottom:none;
}
#map-panel{
  position: relative;
}
#map {
  width:100%;
  min-height:900px;
  background:#ccc;
}
#map-legend{
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  background: rgba(0,0,0,0.08);
}
#map-legend .legend{
  align-items:center;
}
#map-legend .legend-key{
  display:block;
  width:10px;
  height:10px;
  border-radius:3px;
  margin-right:5px;
}
#map-legend .legend-key.key-green{
  background:rgb(16, 168, 2);
}
#map-legend .legend-key.key-orange{
  background:rgb(252, 146, 53);
}
#map-legend .legend-key.key-red{
  background:rgb(201, 38, 26);
}
#list ul{
  max-width:500px;
  background: #fff;
  margin: 0 auto;
  padding-top:0;
}
.list-zone-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#list .heading{
  background:rgb(255,64,129);
  color:#fff;
  text-align: center;
  font-size:1.3rem;
  padding:10px 20px;
}
#list li:not(.heading,:last-child){
  position: relative;
  border-bottom: 1px solid #ccc;
}
.mdl-list__item{
  font-weight: 300;
}
#list li:after{
  content:'';
  display: block;
  position:absolute;
  right:0;
  top:0;
  height:100%;
  width:3px;
}
#list .heading .region-latency{
  display: flex;
  align-items: center;
}
#list li.fast .region-latency{
  color:rgb(16, 168, 2);
}
#list li.average .region-latency{
  color:rgb(252, 146, 53);
}
#list li.slow .region-latency{
  color:rgb(201, 38, 26);
}
#list .toggle-sort-order{
  cursor: pointer;
}
#list .toggle-sort-order[data-order="asc"]{
  transform:rotateX(180deg);
}
footer>div{
  margin:auto;
}

.mdl-dialog{
  width:30%;
  min-width:300px;
}

dialog a{
  text-decoration: none;
}
dialog a:hover{
  text-decoration: underline;
}