body, input {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #283238;
}
body,html{
  height:100%;
  font-size:16px;
}
#map {
  width:100%;
  min-height:900px;
  background:#ccc;
}
h1{
  text-align: center;
  font-size:1.5rem;
  font-weight:300;
}
h1 a{
  color:rgb(255,64,129);
  text-decoration: none;
}
h1 a:hover{
  text-decoration: underline;
}
#stats{
  margin: 0px auto 20px;
  width: 40%;
  max-width: 400px;
}
#stats .heading{
  background:rgb(255,64,129);
  color:#fff;
  text-align: center;
  font-size:1.3rem;
  padding:10px 20px;
}
#stats .content{
  padding: 0 10px;
  background: #fff;
  color: #444;
  font-size: 20px;
  line-height: 1.4;
}
#stats .content>div{
  display: flex;
  align-items: center;
  margin-bottom:5px;
}
#stats .content label{
  min-width:150px;
  display: flex;
  align-items: center;
}
#stats .content .material-icons{
  margin-right:5px;
}
#fastestRegion,#globalRegion,#analyzedRegions,#remainingRegions{
  font-weight: 400;
}
#listMapCtrl{
  text-align: right;
  margin:10px 0;
  padding:0 20px;
}
#listMapCtrl label{
  width: auto;
  margin: 0 10px 0 5px;
}
#list{
  display: none;
}
#list ul{
  max-width:500px;
  background: #fff;
  margin: 0 auto;
  padding-top:0;
}
.list-zone-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#list .heading{
  background:rgb(255,64,129);
  color:#fff;
  text-align: center;
  font-size:1.3rem;
  padding:10px 20px;
}
#list li.fast{
  color:rgb(16, 168, 2);
}
#list li.average{
  color:rgb(252, 146, 53);
}
#list li.slow{
  color:rgb(201, 38, 26);
}